html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* css reset end */
.container {
  width: 1200px;
  margin: 0 auto;
}

img {
  display: block;
}

.content h2 {
  font-size: 32px;
  line-height: 45px;
  padding-bottom: 8px;
  border-bottom: 1px solid #000;
  margin-bottom: 16px;
}

.content span {
  font-size: 24px;
  line-height: 32px;
  color: #A00404;
  margin-left: 16px;
}

/* header */
.header {
  border-bottom: 2px solid #000;
  padding-bottom: 24px;
  margin-top: 48px;
  margin-bottom: 48px;
}

.header h1 {
  font-size: 80px;
  line-height: 90px;
}

/* profile */
.profile-image {
  margin-bottom: 48px;
}

/* footer */
.footer {
  background: #415165;
  color: #fff;
  text-align: center;
}

.footer h2 {
  font-size: 32px;
  line-height: 45px;
  border-bottom: 1px solid #fff;
  padding-top: 24px;
  padding-bottom: 8px;
  margin-bottom: 24px;
}

.footer span {
  font-size: 24px;
  line-height: 32px;
  margin-left: 16px;
}

.footer .contact {
  font-size: 24px;
  line-height: 36px;
  padding-bottom: 48px;
}

.footer .contact li {
  margin-bottom: 16px;
}

.footer .img {
  display: flex;
  justify-content: center;
}

.footer img {
  margin-left: 24px;
}